*{
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;

}

body {
	margin:auto;
}

html, body, main {
	height: 100%;
}

main #heading{
	margin:0;
	border-radius: 5px;
	box-shadow: 1px 1px black;
	z-index: 99;
	padding-left:10px;
	padding-right: 10px;
	background-color: white;
	top:10px;
	left:45%;
	position:fixed;
}

main #searchBar{
	border-radius: 5px;
	box-shadow: 1px 1px black;
	z-index: 99;
	padding:5px;
	background-color: white;
	top:50px;
	left:5%;
	position:absolute;
}

main h2 {
	margin:0;
	text-align: center;

}

#map {
	height: 100%;
	width: 100%;
}	



/*animate primary location marker*/
/*#markerLayer {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}*/


/*pup up info window*/

.popUpWindow {
	text-align: left;
    padding: 5px;
}

.link {
	margin-bottom: 10px;
	text-decoration: none;
	padding:5px;
	color: white;
	font-size: 18px;
	background-color: magenta;
	border-radius: 5px;
}

.link:hover {
	background-color: pink;
}

.eventContentPopUp {
	color:darkgrey;
	font-weight: bold;
}


#searchBar {
	display: inline-block;
}
#searchBar input {
	color:blue;
	font-size: 18px;
	width: 300px;
	height:30px;
	border-style: solid 1px;
}



#searchBar button {
	font-size:18px;
	height:30px;
	color: lightblue;
	background-color: black;
	border-style: none;
	border-radius: 5px;
}

#searchBar button:hover {
	background-color: pink;
}

.listButton {
	margin-top:5px;
	border-radius: 5px;
	border-style: none;
	color: white;
	background-color: darkblue;
	position: relative;
	height: 30px;
	float:right;
	z-index: 99;
}

.js-results {
	background-color: lightblue;
	z-index: 1;
	position: absolute;
	top:160px;
	left:7.5%;
	right:7.5%;
	height: 80%;
	visibility: hidden;
}

.js-results-list {
	z-index: 2;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
}

.single-view {
	border-radius: 5px;
	border: solid white 1px;
	padding:10px;
	opacity: 1;
	margin:1%;
	z-index: 99;
	position: relative;
	background-color: white;
	width: 30%;
	height: 300px;
	overflow: scroll;
	overflow-wrap: break-word;
}

.single-view:hover {
	opacity:1;
	border: pink solid 1px;
}

.event-content-single-view {
	padding: 15px;
}



.sort-by-list {
	position: absolute;
	background-color: white;
	font-size: 18px;
	border-style: none;
	border-radius: 5px;
	z-index: 99;
	float:right;
	top:140px;

}
.close-list {
	float:right;
	color: white;
	font-size:18px;
	border-style: none;
	background-color: black;
	border-radius: 2px;
	z-index: 99;
	position: absolute;
	top:140px;
	right:8.5%;
	margin-left: 5px;
}

.close-list:hover {
	background-color: blue;
}

#searchBar:active {
	box-shadow: 0 0 3pt 2pt blue;
}