*{
	box-sizing: border-box;
	font-family:"Alegreya Sans", Sans-serif;
}

body {
	margin:auto;
}

main #heading{
	border-radius: 5px;
	z-index: 99;
	padding-left:10px;
	padding-right: 10px;
	background-color: white;
	top:10px;
	left:45%;
	position:absolute;
}

main #searchBar{
	box-shadow: 1px 1px lightgrey;
	z-index: 99;
	padding:5px;
	background-color: white;
	top:50px;
	left:5%;
	position:absolute;
}

main h1 {
	margin:auto;
	text-align: center;

}

#map {
	top:0;
	margin:0;
	height: 800px;
	width: 100%;
}	



/*animate primary location marker*/
/*#markerLayer {
  animation: pulse .5s infinite alternate;
  -webkit-animation: pulse .5s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}*/


/*pup up info window*/

.popUpWindow {
	text-align: left;
    padding: 5px;
}

.popUpWindow .link {
	margin-bottom: 10px;
	text-decoration: none;
	padding:5px;
	color: white;
	font-size: 18px;
	background-color: darkgreen;
	border-radius: 5px;
}

.popUpWindow .link:hover {
	background-color: pink;
}

.eventContentPopUp {
	color:darkgrey;
	font-weight: bold;
}